<h1>Edit Recode</h1>
<%= render "form", recode: @recode, type: "Update" %>
<!--type hm ny choose ki ha Update ki ha jb be _form my jay ga edit sy then _form per show hoga update -->
<!--or new.html per be update ki bejay new likh dain gain
reocode varibel ky ander @variable ki value reakh rahy hn -->

